<link rel="stylesheet" href="/../styles/form.css">
<section class="container-fluid main-title">
  <h1>Welcome to Spark Cleaning!</h1>
</section>
<section class="container-fluid main-area">
  <div class="row no-gutters">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 left-col">
      <div class="container form-area p-3">
        <form class="submit-item p-3">
          <div class="form-group">
            <label for="item-name">Item:</label>
            <input required type="text" class="form-control" id="item-name" aria-describedby="itemName" placeholder="Enter item name">
          </div>
          <div class="form-group">
            <label for="category-select">Category:</label>
            <select id="category-select" class="custom-select"> required
              <option selected value="Clothes">Clothes</option>
              <option value="Books">Books</option>
              <option value="Papers">Papers</option>
              <option value="Miscellaneous">Miscellaneous</option>
              <option value="Sentimental">Sentimental</option>
            </select>
          </div>
          <div class="form-group">
            <label for="location-select">Location:</label>
            <select id="location-select" class="custom-select" required>
              <option selected value="Bedroom">Bedroom</option>
              <option value="Bathroom">Bathroom</option>
              <option value="Kitchen">Kitchen</option>
              <option value="Living Room">Living Room</option>
              <option value="Office">Office</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description-text">Description:</label>
            <textarea class="form-control" id="description-text" rows="3" required></textarea>
          </div>
          <div class="form-group rating" data-value="0/5">
            <div class="form-check star-group">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="stars" value="1">
                <span class="icon"><i class="fas fa-star"></i></span>
              </label>
            </div>
            <div class="form-check star-group">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="stars" value="2">
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
              </label>
            </div>
            <div class="form-check star-group">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="stars" value="3">
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
              </label>
            </div>
            <div class="form-check star-group">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="stars" value="4">
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
              </label>
            </div>
            <div class="form-check star-group">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="stars" value="5">
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
                <span class="icon"><i class="fas fa-star"></i></span>
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 right-col">
      <div class="cats dropdown-area">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCategoryButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownCategoryButton">
            <a data-filter="category" class="dropdown-item" href="#">Clothes</a>
            <a data-filter="category" class="dropdown-item" href="#">Books</a>
            <a data-filter="category" class="dropdown-item" href="#">Papers</a>
            <a data-filter="category" class="dropdown-item" href="#">Miscellaneous</a>
            <a data-filter="category" class="dropdown-item" href="#">Sentimental</a>
          </div>
        </div>
      </div>
      <div class="locs dropdown-area">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLocationButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Location
          </button>
          <div class="dropdown-menu locs-menu" aria-labelledby="dropdownLocationButton">
            <a data-filter="location" class="dropdown-item" href="#">Bedroom</a>
            <a data-filter="location" class="dropdown-item" href="#">Bathroom</a>
            <a data-filter="location" class="dropdown-item" href="#">Kitchen</a>
            <a data-filter="location" class="dropdown-item" href="#">Living Room</a>
            <a data-filter="location" class="dropdown-item" href="#">Office</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid your-items">
  <h2>Your Items</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Category</th>
        <th scope="col">Location</th>
        <th scope="col">Description</th>
        <th scope="col">Joy</th>
        <th scope="col"><i class="fas fa-trash-alt"></i></th>
      </tr>
    </thead>
    <tbody class="table-body">
      {{#each items}}
      <tr data-id="{{id}}">
        <td data-name="item_name" contentEditable>{{item_name}}</td>
        <td data-name="category" contentEditable>{{category}}</td>
        <td data-name="category" contentEditable>{{location}}</td>
        <td data-name="description" contentEditable>{{description}}</td>
        <td data-name="joy" contentEditable>{{joy}}</td>
        <td><i class="fas fa-times"></i></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>